@import '_js-classes.scss';
@import '_variables.scss';
@import '_templates.scss';

body {
    @extend %base_style;
}

p,
span,
a,
ul,
li,
button,
input,
textarea {
    @extend %poor_text_style;
}

.aside-wrapper {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}
.aside {
    background-color: black;
    width: 80%;
    display: flex;
    flex-direction: column;

    .aside__button {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        padding: 0;
        align-self: flex-end;
        margin: 20px 64px 0 0;
        cursor: pointer;
    }

    .aside__list {
        margin: 64px 0 0 127px;

        .aside__list-element {

            .header__items-right-part-list-element-link {
                text-decoration: none;
                font-size: 35px;
                line-height: 72px;
                background-color: transparent;
                border: none;
                padding: 0;
            }
        }
    }
}

.home {
    background-image: url('../images/home-background.svg');
    background-size: cover;
    background-repeat: no-repeat;

    .header {

        .header__items {
            display: flex;
            vertical-align: baseline;
            justify-content: space-between;

            .header__items-logo {
                margin: 20px;
            }

            .header__items-right-part {
                display: flex;
                vertical-align: baseline;
                margin: 20px;

                .header__items-right-part-list {
                    display: flex;
                    align-items: center;

                    .header__items-right-part-list-element {
                        margin: 0 30px;

                        .header__items-right-part-list-element-link {
                            text-decoration: none;
                        }
                    }
                }

                .header__items-right-part-language {
                    display: flex;
                    align-items: center;

                    .header__items-right-part-language-link-en {
                        text-decoration: none;
                        color: $main_text_color;
                        font-weight: 700;
                    }

                    .header__items-right-part-language-slash {
                        margin: 0 8px;
                        color: $text_color;
                        font-family: Inter;
                        font-size: 20px;
                        font-weight: 400;
                    }

                    .header__items-right-part-language-link-ru {
                        text-decoration: none;
                        font-weight: 700;
                    }
                }

                .header__items-right-part-menu {
                    display: none;

                    .header__items-right-part-menu-button {
                        width: 50px;
                        height: 50px;
                        margin-left: 20px;
                        padding: 0;
                        border: none;
                        background-color: transparent;
                        background-image: url('../images/burger-menu/burger-menu.svg');
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .home__plot {
        margin: 160px 0 0 80px;
        padding-bottom: 330px;

        .home__plot-title {
            color: $text_color;
            line-height: 120px;
            margin-bottom: 10px;
        }

        .home__plot-about {
            width: 470px;
            line-height: 40px;
            margin-bottom: 25px;
        }

        .home__plot-button {
            width: 220px;
            height: 55px;
            border: none;
            color: black;
            background-color: $main_text_color;
            cursor: pointer;

            &:hover {
                transition: .5s background-color;
                color: $main_text_color;
                background-color: black;
                border: 1px solid $main_text_color;
            }
        }
    }
}



.main {

    .main-separator {
        height: 2px;
        width: 274px;
        background-color: $main_text_color;
    }

    .main__title-head {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0 60px;

        .main__title-head-name {
            margin: 0 20px;
        }
    }

    .main__skills-list {
        display: flex;
        justify-content: space-around;

        .main__skills-list-element {
            width: 320px;

            .main__skills-list-element-section {
                display: flex;
                flex-direction: column;
                align-items: center;

                .main__skills-list-element-section-image {
                    width: 60px;
                    height: 60px;
                    margin-bottom: 50px;
                }

                .main__skills-list-element-section-title {
                    margin-bottom: 20px;
                }

                .main__skills-list-element-section-about {
                    text-align: center;
                    margin-bottom: 0 20px 8px;
                }
            }
        }
    }

    .main__portfolio {

        .main__portfolio-navigation {
            display: flex;
            justify-content: center;
            margin: 60px 0;

            .main__portfolio-navigation-button {
                width: 220px;
                height: 55px;
                border: none;
                margin-left: 5px;
                transition: .5s background-color;
                border: $main_text_color 2px solid;
                cursor: pointer;

                &:first-child {
                    margin-left: 0;
                }

                &:hover {
                    color: black;
                    background-color: $main_text_color;
                }
            }
        }

        .main__portfolio-images {
            margin: 0 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 25px;

            .main__portfolio-images-image {
                width: 450px;
                height: 560px;
            }
        }

    }

    .main__video {
        display: flex;
        flex-direction: column;

        .main__video-container {
            position: relative;
            margin: 0 20px;

            .main__video-container-button {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                width: 130px;
                height: 130px;
                border: none;
                padding: 0;
                background: transparent;
                transform: translate(-50%, -50%);
                background-image: url('../images/main/play-button.svg');
                cursor: pointer;

                &:hover {
                    background-image: url('../images/main/play-button-hover.svg');
                }
            }

            .main__video-container-player {
                width: 100%;
            }
        }
    }


    .main__price {

        .main__price-container {
            display: flex;
            justify-content: space-around;

            .main__price-container-variant {
                width: 450px;
                height: 505px;
                border: 3px solid $main_text_color;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 100px;

                .main__price-container-variant-name {
                    color: white;
                    margin-top: 43px;
                }

                .main__price-container-variant-number {
                    margin-top: 20px;
                }

                .main__price-container-variant-dignities {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .main__price-container-variant-dignities-paragraph {
                        line-height: 36px;
                    }
                }

                .main__price-container-variant-button {
                    margin-top: 40px;
                    width: 220px;
                    height: 55px;
                    border: none;
                    color: black;
                    background-color: $main_text_color;
                    cursor: pointer;

                    &:hover {
                        transition: .5s background-color;
                        color: $main_text_color;
                        background-color: black;
                        border: 1px solid $main_text_color;
                    }
                }
            }
        }
    }

    .main__feedback {
        height: 700px;
        background-image: url('../images/main/contacts.jpg');
        background-size: cover;
        display: flex;
        justify-content: right;

        .main__feedback-form {
            width: 450px;
            height: 445px;
            margin: 60px 20px 0 0;
            display: flex;
            flex-direction: column;
            justify-content: right;

            .main__feedback-form-title {
                line-height: 80px;
            }

            .main__feedback-form-input-email {
                margin-top: 40px;
                padding: 0 20px;
                min-width: fit-content;
                height: 50px;
                background: black;
                opacity: 0.8;
                transition: .5s opacity;
                border: 2px solid $main_text_color;
                line-height: 40px;

                &::placeholder {
                    color: $main_text_color;
                }
            }

            .main__feedback-form-input-phone {
                margin-top: 20px;
                padding: 0 20px;
                min-width: fit-content;
                height: 50px;
                background: black;
                opacity: 0.8;
                transition: .5s opacity;
                border: 2px solid $main_text_color;
                line-height: 40px;

                &::placeholder {
                    color: $main_text_color;
                }
            }

            .main__feedback-form-input-message {
                margin-top: 20px;
                padding: 0 20px;
                min-width: fit-content;
                height: 100px;
                background: black;
                opacity: 0.8;
                transition: .5s opacity;
                border: 2px solid $main_text_color;
                line-height: 40px;

                &::placeholder {
                    color: $main_text_color;
                }
            }

            .main__feedback-form-send-button {
                margin-top: 25px;
                width: 220px;
                height: 55px;
                border: none;
                color: black;
                background-color: $main_text_color;
                cursor: pointer;

                &:hover {
                    transition: .5s background-color;
                    color: $main_text_color;
                    background-color: black;
                    border: 1px solid $main_text_color;
                }
            }
        }
    }
}



.footer {
    display: flex;
    justify-content: space-between;

    .footer__data {
        display: flex;
        align-items: center;
        margin: 50px 0 50px 20px;
        height: 50px;

        .footer__data-element {
            margin-left: 20px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .footer__text {
        display: flex;
        align-items: center;
        margin: 50px 0;
        height: 50px;
    }

    .footer__social {
        display: flex;
        align-items: center;
        margin: 50px 20px 50px 0;
        height: 50px;

        .footer__social-link {
            margin-left: 20px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

@media(max-width: 768px) {
    .home {
        background-size: contain;


        .header {

            .header__items {

                .header__items-right-part {

                    .header__items-right-part-list {
                        display: none;
                    }

                    .header__items-right-part-menu {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }


        .home__plot {
            margin: 78px 0 0 60px;
            padding-bottom: 36px;

            .home__plot-title {
                line-height: 64px;
                font-size: 32px;
                font-weight: 400;
                margin-bottom: 20px;
            }

            .home__plot-about {
                width: 390px;
                line-height: 25px;
                margin-bottom: 60px;
            }
        }
    }

    .main {

        .main__skills {

            .main__skills-list {
                flex-wrap: wrap;

                .main__skills-list-element {
                    width: 300px;
                    margin-bottom: 36px;

                    .main__skills-list-element-section {

                        .main__skills-list-element-section-image {
                            width: 60px;
                            height: 60px;
                            margin-bottom: 30px;
                        }

                        .main__skills-list-element-section-title {
                            font-size: 20px;
                            line-height: 40px;
                        }

                        .main__skills-list-element-section-about {
                            text-align: center;
                            margin: 0 10px 40px;
                            font-size: 18px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }

        .main__portfolio {

            .main__portfolio-navigation {
                flex-wrap: wrap;
                margin: 50px 152px 60px;

                .main__portfolio-navigation-button {
                    margin-left: 0;

                    &:first-child {
                        margin: 0 5px 5px 0;
                    }

                    &:last-child {
                        margin: 0 0 0 5px;
                    }
                }
            }

            .main__portfolio-images {
                margin: 0 159px;

                .main__portfolio-images-image {
                    align-self: center;
                }
            }

        }

        .main__price {

            .main__price-container {
                flex-wrap: wrap;

                .main__price-container-variant {
                    width: 420px;
                    height: 505px;
                    margin-bottom: 50px;

                    .main__price-container-variant-name {
                        font-size: 28px;
                        line-height: 56px;
                    }

                    .main__price-container-variant-number {
                        font-size: 24px;
                        line-height: 48px;
                    }

                    .main__price-container-variant-dignities {

                        .main__price-container-variant-dignities-paragraph {
                            font-size: 18px;
                            line-height: 36px;
                        }
                    }
                }
            }
        }

        .main__feedback {
            height: 600px;
            display: flex;
            justify-content: center;

            .main__feedback-form {
                width: 450px;
                height: 429px;
                margin: 60px 0 111px;

                .main__feedback-form-title {
                    font-size: 32px;
                    line-height: 64px;
                    align-self: center;
                }

                .main__feedback-form-input-email {
                    font-size: 20px;
                }

                .main__feedback-form-input-phone {
                    font-size: 20px;
                }

                .main__feedback-form-input-message {
                    font-size: 20px;
                    line-height: 40px;
                }

                .main__feedback-form-send-button {
                    margin-top: 30px;
                    align-self: center;
                }
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer__data {
            margin: 28px 0 16px;
            height: 24px;
        }

        .footer__text {
            margin: 0 0 20px 0;
            height: 24px;
        }

        .footer__social {
            margin: 0 0 28px 0;
        }
    }
}